.row{
    margin-top: 5%
}

.row div{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

mat-radio-button{
    padding-left: 25px;
}

.row .insideRow{
    display: flex;
    flex-direction: row;    
    justify-content: space-between
}

.row .buttons{
    display: flex;
    flex-direction: row;    
    justify-content: center
}

.nameBenef{
    padding-left: 15px;
    padding-right: 10px
}

.mat-button{
    border-style: solid;
    border-width:  0 0 4px 0 ;
}

.transferir{    
    background-color: #FFAB52;
    color: white;
    font-size: 14px;
}

.cancel{
    background-color:  #545454;
    color: white;
    font-size: 14px;
    margin-left: 40px

}

table {
    width: 100%;
}    

th{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.tipoId{
    width: 50px;
}