*{
  color: #545454;  
}

.sidenav-container {
  height: 100%;   
}

.mat-toolbar-single-row{
  height: 80px;
  background-color:#D8D8D8
}

.sidenav {
  width: 270px;
}

.sidenav .mat-toolbar {
  background: #FFAB52;
  height: 230px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content{
  background-color: white
}

.perfil{
  display: block;
}

.foto-perfil{
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 5%;
}

.material-icons{
  margin-left: 10px;
}

.nameUser{
  margin: 0 auto; 
  text-align: center 
}

.user-name{
  margin-left: 10%;
}

mat-form-field{
  font-size: 14px
}

.nameApp div{
  margin: 0 auto;
}

.contenido{
  padding: 1% 3% 0 3%;  
}

.sublist{
  margin-left: 40px;
}