<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="token" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="perfil">
      <img src="../../assets/img/images.jpg" class="foto-perfil">

      <div class="nameUser" *ngIf="editPerfil">
        <span style="vertical-align: middle; color:#fff !important;">Orianna Capote</span>&nbsp;&nbsp;
        <img (click)="editPerfil = !editPerfil" style="cursor:pointer; vertical-align: middle" src="../../assets/img/edit.svg"
          alt="triangle with all three sides equal" height="24px" width="24px" />
      </div>

      <div class="nameUser" *ngIf="! editPerfil">
        <div class="user-name">
          <mat-form-field>
            <input matInput placeholder="Nombre de usuario">
          </mat-form-field>
          
          <i class="material-icons" [ngStyle]="{'color':'white'}" (click)="editPerfil = !editPerfil">
            check_circle
          </i>
        </div>
      </div>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/resumen" routerLinkActive="active"><img src="../../assets/img/dashboard.svg"
        alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Resumen</a>
      <a mat-list-item (click)="transfer = !transfer"> <img src="../../assets/img/send.svg"
          alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Transferencias </a>
      <a class="sublist" *ngIf="transfer" mat-list-item routerLink="/transferencias/registrada"
        routerLinkActive="active"> Cuentas registradas </a>
      <a class="sublist" *ngIf="transfer" mat-list-item routerLink="/transferencias/noRegistrada"
        routerLinkActive="active"> Cuentas no registradas</a>
      <a mat-list-item routerLink="/tarjetaCredito" routerLinkActive="active"> <img src="../../assets/img/credit-cards-payment.svg"
          alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Tarjetas de crédito</a>
      <a mat-list-item routerLink="/operaciones" routerLinkActive="active"><img src="../../assets/img/facturas.svg"
          alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Historico de Operaciones</a>
      <a mat-list-item (click)="facturas = !facturas" routerLinkActive="active"><img src="../../assets/img/bill.svg"
          alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Facturas</a>
      <a class="sublist" *ngIf="facturas" mat-list-item routerLink="/facturas/pagadas" routerLinkActive="active">
        Facturas Pagadas </a>
      <a class="sublist" *ngIf="facturas" mat-list-item routerLink="/facturas/vigentes" routerLinkActive="active">
        Facturas Vigentes </a>
      <a class="sublist" *ngIf="facturas" mat-list-item routerLink="/facturas/vencidas" routerLinkActive="active">
        Facturas Vencidas </a>
      <a mat-list-item routerLink="/" routerLinkActive="active"> <img src="../../assets/img/logout.svg"
          alt="triangle with all three sides equal" height="30px" width="30px" />&nbsp;&nbsp;Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="token" class="nameApp">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <img src="../../assets/img/logo_v2_sf.png" height="75px">
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div  [ngClass]="{'content':token}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>