<div class="container-fluid">
    <div class="row">
        <div class="col-3 login-wrapper"></div>
        <div class="col-9 box-shadow">
            <div class="row">
                <div class="col-12 text-center logo-signup">
                    <img src="../../assets/img/logo_v2_sf.png" height="125px">
                </div>
                <div class="col-6 text-center border-dark">
                    <a class="opt" [ngClass]="{'active':type == 1}" (click)="changeLogin(1)">Cliente Natural</a>
                </div>
                <div class="col-6 text-center border-primary">
                    <a class="opt" [ngClass]="{'active':type == 2}" (click)="changeLogin(2)">Cliente Jurídico</a>
                </div>
                <div class="col-12">
                    <form [formGroup]="form" (submit)="onSubmit(form)">
                        <div class="row ">
                            <div *ngIf="type == 2" class="col-12 text-center">
                                <hr>
                                <p>Datos personales del usuario administrador</p>
                                <hr>
                            </div>
                            <div class="col-1">
                                <mat-form-field class="full-width input-padding">
                                    <mat-label>V/E</mat-label>
                                    <mat-select name="opt_ci" formControlName="opt_ci">
                                        <mat-option *ngFor="let ci of ci_op" [value]="ci.value">
                                            {{ci.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="20" type="text" placeholder="Cédula de Identidad"
                                        name="user_ci" formControlName="user_ci"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    <mat-error *ngIf="form.controls.user_ci.invalid">
                                        <app-control-messages [control]="form.controls.user_ci">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint>Un numero de cédula valido no puede empezar con cero</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="20" type="text" placeholder="Primer nombre"
                                        name="first_name" formControlName="first_name">
                                    <mat-error *ngIf="form.controls.first_name.invalid">
                                        <app-control-messages [control]="form.controls.first_name">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.first_name.value?.length || 0}}/20</mat-hint>
                                    <mat-hint>Mínimo 3 caracteres, máximo 20</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="20" type="text" placeholder="Segundo nombre"
                                        name="middle_name" formControlName="middle_name">
                                    <mat-error *ngIf="form.controls.middle_name.invalid">
                                        <app-control-messages [control]="form.controls.middle_name">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.middle_name.value?.length || 0}}/20</mat-hint>
                                    <mat-hint>Mínimo 3 caracteres, máximo 20</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="20" type="text" placeholder="Primer apellido"
                                        name="first_surname" formControlName="first_surname">
                                    <mat-error *ngIf="form.controls.first_surname.invalid">
                                        <app-control-messages [control]="form.controls.first_surname">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.first_surname.value?.length || 0}}/20
                                    </mat-hint>
                                    <mat-hint>Mínimo 3 caracteres, máximo 20</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="20" type="text" placeholder="Segundo apellido"
                                        name="second_surname" formControlName="second_surname">
                                    <mat-error *ngIf="form.controls.second_surname.invalid">
                                        <app-control-messages [control]="form.controls.second_surname">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.second_surname.value?.length || 0}}/20
                                    </mat-hint>
                                    <mat-hint>Mínimo 3 caracteres, máximo 20</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <span matPrefix>+58 &nbsp;</span>
                                    <mat-icon matSuffix><i class="far fa-edit"></i></mat-icon>
                                    <input matInput type="tel" maxlength="10" placeholder="Celular" name="phone"
                                        formControlName="phone"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    <mat-hint align="end">{{form.controls.phone.value?.length || 0}}/10
                                    </mat-hint>
                                    <mat-error *ngIf="form.controls.phone.invalid">
                                        <app-control-messages [control]="form.controls.phone">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint>Ej 4141235789</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput name="email" formControlName="email"
                                        placeholder="Correo electrónico">
                                    <mat-error *ngIf="form.controls.email.invalid">
                                        <app-control-messages [control]="form.controls.email">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint>Debe tener un formato de correo electrónico valido
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <textarea matInput maxlength="300" placeholder="Dirección" name="address"
                                        formControlName="address"></textarea>
                                    <mat-error *ngIf="form.controls.address.invalid">
                                        <app-control-messages [control]="form.controls.address">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.address.value?.length || 0}}/300
                                    </mat-hint>
                                    <mat-hint>Máximo 300 caracteres</mat-hint>
                                </mat-form-field>
                            </div>
                            <div *ngIf="type == 2" class="col-12 text-center">
                                <hr>
                                <p>Datos de la empresa</p>
                                <hr>
                            </div>
                            <div *ngIf="type == 2" class="col-1">
                                <mat-form-field class="full-width input-padding">
                                    <mat-label>G/J/C</mat-label>
                                    <mat-select name="opt_rif" formControlName="opt_rif">
                                        <mat-option *ngFor="let rif of rif_op" [value]="rif.value">
                                            {{rif.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="type == 2" class="col-5">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="9" type="text" placeholder="RIF" name="jusr_rif"
                                        formControlName="jusr_rif"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    <mat-error *ngIf="form.controls.jusr_rif.invalid">
                                        <app-control-messages [control]="form.controls.jusr_rif">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.jusr_rif.value?.length || 0}}/9
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div *ngIf="type == 2" class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="60" type="text" placeholder="Nombre de la empresa"
                                        name="jusr_company" formControlName="jusr_company">
                                    <mat-error *ngIf="form.controls.jusr_company.invalid">
                                        <app-control-messages [control]="form.controls.jusr_company">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.jusr_company.value?.length || 0}}/60
                                    </mat-hint>
                                    <mat-hint>Mínimo 3 caracteres, máximo 60 caracteres</mat-hint>
                                </mat-form-field>
                            </div>
                            <div *ngIf="type == 2" class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <span matPrefix>+58 &nbsp;</span>
                                    <mat-icon matSuffix><i class="far fa-edit"></i></mat-icon>
                                    <input matInput type="tel" maxlength="10" placeholder="Telefono de la empresa"
                                        name="jusr_phone" formControlName="jusr_phone"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    <mat-hint align="end">{{form.controls.jusr_phone.value?.length || 0}}/10
                                    </mat-hint>
                                    <mat-error *ngIf="form.controls.jusr_phone.invalid">
                                        <app-control-messages [control]="form.controls.jusr_phone">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint>Ej 4141235789</mat-hint>
                                </mat-form-field>
                            </div>
                            <div *ngIf="type == 2" class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <textarea matInput maxlength="300" placeholder="Dirección de la empresa"
                                        name="jusr_address" formControlName="jusr_address"></textarea>
                                    <mat-error *ngIf="form.controls.jusr_address.invalid">
                                        <app-control-messages [control]="form.controls.jusr_address">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.jusr_address.value?.length || 0}}/300
                                    </mat-hint>
                                    <mat-hint>Máximo 300 caracteres</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="60" type="text" placeholder="Pregunta de seguridad"
                                        name="q_recovery" formControlName="q_recovery">
                                    <mat-error *ngIf="form.controls.q_recovery.invalid">
                                        <app-control-messages [control]="form.controls.q_recovery">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.q_recovery.value?.length || 0}}/60
                                    </mat-hint>
                                    <mat-hint>Máximo 60 caracteres</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput maxlength="100" type="text" placeholder="Respuesta"
                                        name="a_recovery" formControlName="a_recovery">
                                    <mat-error *ngIf="form.controls.a_recovery.invalid">
                                        <app-control-messages [control]="form.controls.a_recovery">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint align="end">{{form.controls.a_recovery.value?.length || 0}}/100
                                    </mat-hint>
                                    <mat-hint>Máximo 100 caracteres</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput name="password" type="password" placeholder="Contraseña"
                                        formControlName="password" [type]="hidePass ? 'password' : 'text'">
                                    <mat-icon matSuffix>
                                        <span *ngIf="hidePass" (click)="showPass(0)">
                                            <i class="far fa-eye"></i>
                                        </span>
                                        <span *ngIf="!hidePass" (click)="showPass(0)">
                                            <i class="far fa-eye-slash"></i>
                                        </span>
                                    </mat-icon>
                                    <mat-error *ngIf="form.controls.password.invalid">
                                        <app-control-messages [control]="form.controls.password"></app-control-messages>
                                    </mat-error>
                                    <mat-hint>La contraseña debe tener mínimo 8 caracteres al menos 1 alfabeto en
                                        mayúsculas, 1 alfabeto en minúsculas, 1 número y 1 carácter especial (#$%&)
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-6">
                                <mat-form-field class="full-width input-padding">
                                    <input matInput name="password_confirmation" type="password"
                                        placeholder="Confirmar contraseña" formControlName="password_confirmation"
                                        [type]="hidePassValidate ? 'password' : 'text'">
                                    <mat-icon matSuffix>
                                        <span *ngIf="hidePassValidate" (click)="showPass(1)">
                                            <i class="far fa-eye"></i>
                                        </span>
                                        <span *ngIf="!hidePassValidate" (click)="showPass(1)">
                                            <i class="far fa-eye-slash"></i>
                                        </span>
                                    </mat-icon>
                                    <mat-error *ngIf="form.controls.password_confirmation.invalid">
                                        <app-control-messages [control]="form.controls.password_confirmation">
                                        </app-control-messages>
                                    </mat-error>
                                    <mat-hint>Las contraseñas deben coincidir
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12 text-center">
                                <button mat-raised-button type="submit" class="success" value="Acceder">
                                    Registrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 text-center" style="margin-top:30px !important">
                    <p id="modal-footer-text">
                        Ya tienes una cuenta?
                        <a routerLink='/login' class="modal-footer-link" id="sign-in">Inicia sesión</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>