<h2> Tarjetas de crédito </h2>

<div class="table-div">
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Número</th>
        <th>Fecha de expiración</th>
        <th>Estatus</th>
        <th>Limite</th>
        <th>Deuda</th>
        <th>Disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 style="margin-top: 60px"> Pagar tarjeta de crédito </h2>

<div >
  <form>
    <div class="row">
      <div class= "row_1_col">
        <mat-form-field>
          <mat-label>Cuenta bancaria</mat-label>
          <select matNativeControl>
            <option value="volvo"> </option>            
          </select>        
        </mat-form-field>
        <span>Saldo disponible: 0.00 </span> <!--{{dataSource.disponible}}-->

        <mat-form-field [ngStyle]="{'padding-top':'30px'}">
          <input matInput placeholder="Monto a pagar" >
        </mat-form-field>
      </div>

      <div class= "row_1_col">
        <mat-form-field>
          <mat-label>Tarjeta de crédito</mat-label>
          <select matNativeControl>
            <option value="volvo"> </option>          
          </select>        
        </mat-form-field>
        <span>Deuda Total: 0.00 </span> <!--{{dataSource.disponible}}-->

        <mat-checkbox [ngStyle]="{'padding-top':'45px'}">Pago mínimo</mat-checkbox>
      </div>    
    </div>  
    <div class="row">
      <button mat-raised-button> Pagar </button>
    </div>
  </form> 
</div>