<div class="row">    

    <div class="buttons">
        <button mat-button > Mismo banco </button>

        <button mat-button > Otros bancos </button>        
    </div>

    <div>        
        <mat-form-field >            
            <mat-label>Cuenta a debitar</mat-label>
            <select matNativeControl required>
            <option value=""> </option>          
            </select>        
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>            
            <mat-label>Cuenta destino</mat-label>
            <select matNativeControl required>
            <option value=""> </option>          
            </select>        
        </mat-form-field>        
    </div>
    
    <div>
        <mat-form-field>
            <input matInput placeholder="Monto en BsS." required >
        </mat-form-field>  
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Concepto" >
        </mat-form-field>  
    </div>

    <div class="buttons">
        <button mat-raised-button class="transferir"> Transferir </button>

        <button mat-raised-button class="cancel"> Cancelar </button>        
    </div>

</div>
